.header{
	background: #2e898a;
	width: 100%;
}
.top{
	width: 100%;
	background: #4e5944;
	height: 50px;
	position: relative;
}
.br{
	background: #2e898a;
	height: 100px;
	width: 1000px;
	margin: 0px auto;
}
.menu{
	width: 70%;
	float: right;
	margin-top: 50px;
}
.text-top img{
	width: 28%;
	float: left;
	position: absolute;
	top: 20px;
	margin-left: 20px;
}
.menu ul{
	list-style: none;
	width: 1000px;
	margin:0px auto;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	padding: 20px 15px;
	text-decoration: none;
}

.main-content{
	width: 100%;
	background: #e2e2e2;
}
.content{
	width: 1000px;
	margin: 0px auto;
	padding-top: 10px;
}
.left{
	background: url('images/frame1.png') no-repeat ;
	z-index: 999;
	float: left;
	height: 394px;
	width: 306px;
	background: #e9e9e9;
	border:1px solid #ddd;
}
.left .p1{
	color: #525944;
	font-size: 20px;
	padding: 15px 20px 5px 20px;
}
.left .p2{
	color: #525944;
	font-size: 18px;
	padding: 0px 20px;
	line-height: 1.5

}
.right{
	float: right;
	width: 690px;
}

.item{
	background: #eeeeee;
}
.item-nd,.item2-nd{
	width: 1000px;
	margin: 0px auto;
}
.item-left{
	width: 70%;
	float: left;
}
.item-left .title,.item-right .title{
	font-size: 25px;
	margin-left: 10px;
	color: #525944;
	font-weight: bold;

}
.item-left p,.item-right p{margin-left: 10px;color: #525944;}
.item-right{
	width: 29%;
	float: right;
	border-left: 1px solid #ccc;
}
.item-right .title{
	font-weight: normal;
}

.item2{
	background: #e2e2e2;
}
.item-list{
	width: 200px;
	float: left;
	padding: 24px;
}

.item2 .title{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
	color: #525944;
}

.item-list img{border: 1px solid #ccc}
.item-list h3{
	color: #525944;
	text-transform: uppercase;
}
.item-list p{
	line-height: 1.5;
    color: #525944;
}

.item-list button{
	padding: 7px 10px;
	background: #5e5e5e;
	color: white;
	text-transform: uppercase;
}

.footer{
	width: 100%;
	background: #287b7b;

}

.footer-noidung{
	width: 1000px;
	margin: 0px auto;

}
.footer-item{
	width: 300px;
	float: left;
	padding: 10px;
	height: 100%;
}
.footer-item h5{
	margin: 0px;
	text-transform: uppercase;
	color: white;
	padding-top:20px;
	font-weight: normal;
}
.footer-item p{
	color: #e2e2e2;
	font-weight: normal;
	padding: 5px;
	line-height: 1.5;
}
.footer-item button{
	padding: 7px 20px;
	width: 100%;
	background: #5e5e5e;
	color: white;
	text-transform: uppercase;
}
.textc{
	color:white;
	float: right;
	margin-right: 30px;
}